@using INSS.EIIR.Web.Constants
@using INSS.EIIR.Web.Extensions
@model INSS.EIIR.Models.CaseModels.CaseResult

@{

    <dl class="govuk-summary-list govuk-summary-list--no-border">

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Type </dt>
            <dd class="govuk-summary-list__value"> Debt Relief Restrictions Order </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Start date </dt>
            <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => model.restrictionsStartDate) </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> End date </dt>
            <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => model.restrictionsEndDate) </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Duration </dt>
            <dd class="govuk-summary-list__value"> @(Model.restrictionsStartDate.Duration(Model.restrictionsEndDate)) </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> NOTE </dt>
            <dd class="govuk-summary-list__value"> This Debt Relief Restrictions Order was preceded by a Debt Relief Order, details shown below </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Case name </dt>
            <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.caseName) </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Number </dt>
            <dd class="govuk-summary-list__value"> @($"DRO{Model.courtNumber}") </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Year </dt>
            <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.caseYear) </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Order date </dt>
            <dd class="govuk-summary-list__value">
                @((Model.insolvencyDate.IsValidDate()) ? Html.DisplayFor(model => (model.insolvencyDate)) : NoData.INFORMATION_NOT_AVAIALBLE)
            </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Status </dt>
            <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.caseStatus) </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Case description </dt>
            <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.caseDescription) </dd>
        </div>

    </dl>

}
