@using INSS.EIIR.Web.Constants
@using INSS.EIIR.Web.Extensions
@model INSS.EIIR.Models.CaseModels.CaseResult

@{

    <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Case name </dt>
            <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.caseName) </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Type </dt>
            <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.insolvencyType) </dd>
        </div>

        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Arrangement date </dt>
            <dd class="govuk-summary-list__value">
                @((Model.insolvencyDate.IsValidDate()) ? Html.DisplayFor(model => (model.insolvencyDate)) : NoData.INFORMATION_NOT_AVAIALBLE)
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"> Status </dt>
            <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.caseStatus) </dd>
        </div>
        @if (Model.notificationDate.IsValidDate() )
        {
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"> Notification date </dt>
                <dd class="govuk-summary-list__value">
                    @if (@Model.notificationDate.HasValue)
                    {
                        @Model.notificationDate.Value.ToString("dd/MM/yyyy")
                    }
                </dd>
            </div>
        }

    </dl>

}
