@using INSS.EIIR.Web.Constants
@using INSS.EIIR.Web.Extensions
@using INSS.EIIR.Models.CaseModels
@model INSS.EIIR.Web.ViewModels.CaseDetailsViewModel

@{
    ViewData["Title"] = "Case Details";
}

@section Breadcrumb
{
    <partial name="_Breadcrumb" model="Model.Breadcrumbs" />
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l"> Case details: @Html.DisplayFor(model => Model.CaseDetails.individualForenames) @Html.DisplayFor(model => Model.CaseDetails.individualSurname) </h1>
            <br>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" aria-expanded="true">
                <div class="govuk-accordion__section govuk-accordion__section--expanded">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-1"> Individual details </span>
                        </h2>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Surname </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.individualSurname) </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Forename(s) </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.individualForenames) </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Title </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.individualTitle) </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Gender </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.individualGender) </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Occupation </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.individualOccupation) </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Date of birth </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => model.CaseDetails.individualDOB) </dd>
                            </div>
                            @if (Model.CaseDetails.deceasedDate.IsValidDate())
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Deceased Date </dt>
                                    <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => model.CaseDetails.deceasedDate) </dd>
                                </div>
                            }
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Last known address </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.individualAddress) <br /> @Html.DisplayFor(model => Model.CaseDetails.individualPostcode) </dd>
                            </div>
                            @if (Model.CaseDetails.dateOfPreviousOrder.IsValidDate())
                            {
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Date of previous order </dt>
                                    <dd class="govuk-summary-list__value"> 
                                        @if (@Model.CaseDetails.dateOfPreviousOrder.HasValue)
                                        {
                                            @Model.CaseDetails.dateOfPreviousOrder.Value.ToString("dd MMMM yyyy")
                                        }
                                    </dd>
                                </div>
                            }
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> This person may also be known as </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.individualAlias) </dd>
                            </div>
                        </dl>
                        <div class="govuk-inset-text"> The individual details may have changed since the Court Order but might not reflect the person's current address or occupation. </div>
                    </div>
                </div>
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-2"> Insolvency case details </span>
                        </h2>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">

                        @switch (Model.CaseDetails.RecordType)
                        {
                            case IIRRecordType.BRU:
                                @await Html.PartialAsync("_BRUDetail.cshtml", Model.CaseDetails);
                                break;
                            case  IIRRecordType.BKT:
                                @await Html.PartialAsync("_BKTDetail.cshtml", Model.CaseDetails);
                                break;
                            case IIRRecordType.IVA:
                                @await Html.PartialAsync("_IVADetail.cshtml", Model.CaseDetails);
                                break;
                            case IIRRecordType.DRO:
                                @await Html.PartialAsync("_DRODetail.cshtml", Model.CaseDetails);                              ;
                                break;
                            case IIRRecordType.BRO:
                                @await Html.PartialAsync("_BRODetail.cshtml", Model.CaseDetails);
                                break;
                            case IIRRecordType.DRRO:
                                @await Html.PartialAsync("_DRRODetail.cshtml", Model.CaseDetails);
                                break;
                            default:
                                throw new Exception($"Unexpected Record Type: {Model.CaseDetails.RecordType.ToString()}");
                        }
                        <div class="govuk-inset-text"> 
                            Depending on the type of insolvency, information may remain active on the register for a period of up to 3 months following the discharge or notification of completion to the Insolvency Service. <br><br>
                            If you believe that the details provided are inaccurate, please report this using

                            @{
                                var errorParameters = string.Empty;
                                if (Model.ErrorListParameters != null)
                                {
                                    errorParameters = $"{Model.ErrorListParameters.Page}/true/{Model.CaseDetails.caseNo}/{Model.CaseDetails.indivNo}/a/{Model.ErrorListParameters.InsolvencyType}/{Model.ErrorListParameters.Organisation}/{Model.ErrorListParameters.Status}";
                                }
                                else
                                {
                                    errorParameters = $"{Model.SearchParameters.Page}/false/{Model.CaseDetails.caseNo}/{Model.CaseDetails.indivNo}/{Model.SearchParameters.SearchTerm}";
                                }
                            }
                            <a class="govuk-link--no-visited-state"
                               href="/report-an-error/@errorParameters ">
                                report an error or issue
                            </a>
                        </div>
                    </div>
                </div>
                @if (!String.IsNullOrEmpty(@Model.CaseDetails.insolvencyPractitionerName) && !String.IsNullOrEmpty(@Model.CaseDetails.insolvencyPractitionerFirmName))
                {
                    <div class="govuk-accordion__section ">
                        <div class="govuk-accordion__section-header">
                            <h2 class="govuk-accordion__section-heading">
                                <span class="govuk-accordion__section-button" id="accordion-default-heading-3"> Insolvency practitioner contact details </span>
                            </h2>
                        </div>
                        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                            <dl class="govuk-summary-list govuk-summary-list--no-border">
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Main insolvency practitioner </dt>
                                    <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.insolvencyPractitionerName) </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Firm </dt>
                                    <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.insolvencyPractitionerFirmName) </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Address </dt>
                                    <dd class="govuk-summary-list__value">
                                        @Html.DisplayFor(model => Model.CaseDetails.insolvencyPractitionerAddress) <br />
                                        @Html.DisplayFor(model => Model.CaseDetails.insolvencyPractitionerPostcode) </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key"> Telephone </dt>
                                    <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.insolvencyPractitionerTelephone) </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                }
                <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                            <span class="govuk-accordion__section-button" id="accordion-default-heading-4"> Insolvency Service contact details </span>
                        </h2>
                    </div>
                    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Insolvency Service office </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.insolvencyServiceOffice) </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Contact </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.insolvencyServiceContact) </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Address </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.insolvencyServiceAddress) </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Postcode </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.insolvencyServicePostcode) </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key"> Telephone </dt>
                                <dd class="govuk-summary-list__value"> @Html.DisplayFor(model => Model.CaseDetails.insolvencyServicePhone) </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            <a asp-controller="Search" asp-action="Index" id="newSearch" class="govuk-button"> Start new search </a>
        </div>
    </div>
</main>